body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-family: "Segoe UI", Helvetica, sans-serif;
  font-size: 18px;
}

.main-header {
  margin-bottom: 20px;
  position: sticky;
  top: 0;
}

.main-header button {
  width: 100vw;
}
#container {
  margin: 0 auto;
  display: flex;
  flex-shrink: 40;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.calculator {
  width: 334px;
  background-color: rgba(0, 0, 0, 0.85);
}

.calculator:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.button {
  color: #ffffff;
  background-color: #000000;
  border: none;
  height: 52px;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
}

.button:hover {
  background-color: #747474;
}

.header-calc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-calc__calc-name {
  font-size: 12px;
  margin-left: 12px;
}
.header-calc__action-buttons-list {
  display: flex;
  align-items: center;
}

.header-calc__action-buttons-list button {
  margin: 0;
  padding: 0;
  font-weight: lighter;
  height: 34px;
  width: 47px;
  background-color: transparent;
}

.header-calc__close-button:hover {
  background-color: #e81123;
}

.display-container {
  padding-right: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  height: 120px;
}

.display__display-memo {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
}

.display__result {
  font-size: 45px;
  font-weight: 500;
}

.board {
  margin: 55px 5px 5px 5px;
}
.board-container {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 2px;
  align-items: flex-end;
}

.board__digital-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: max-content max-content max-content max-content;
  gap: 2px;
}

.board__digital-board,
.operation-board {
  margin-bottom: 5px;
}

.button--digital:nth-child(12) {
  order: 12;
}

.button--digital:nth-child(11) {
  order: 10;
}

.button--digital:nth-child(10) {
  order: 3;
}

.button--digital:nth-child(9) {
  order: 2;
}

.button--digital:nth-child(8) {
  order: 1;
}

.button--digital:nth-child(7) {
  order: 6;
}

.button--digital:nth-child(6) {
  order: 5;
}

.button--digital:nth-child(5) {
  order: 4;
}

.button--digital:nth-child(4) {
  order: 9;
}

.button--digital:nth-child(3) {
  order: 8;
}

.button--digital:nth-child(2) {
  order: 7;
}

.button--digital:nth-child(1) {
  order: 11;
}

.operation-board {
  display: grid;
  gap: 2px;
}

.button--operation,
.button--backspace {
  background-color: rgba(0, 0, 0, 0.5);
}

.button--backspace {
  order: -5;
}

.button--equality {
  background-color: #336389;
}

.button--equality:hover {
  background-color: #0975ca;
}

.hide-element {
  display: none;
}
